h1 {
  text-align: center;
}

#result {
  text-align: center;
}

#push_table {
  width: 700px;
  height: 100px;
  margin: auto;
  border-style: none;
  border-collapse: collapse;
  table-layout: fixed;
}

.push_td {
  padding: 2.3%;
}

.push {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  display: block;
  width: 68px;
  height: 68px;
  background-color: darkorange;
  background-position: center;
  border-radius: 50%;
}

.push:hover {
  background-color: #f56500;
}

#board {
  width: 700px;
  height: 400px;
  margin: auto;
  border-width: 3px;
  border-style: none;
  border-collapse: separate;
}

.circle_td {
  padding: 10px 22.4px;
  text-align: center;
}

.c_lel {
  width: 100px;
  height: 100px;
}

.circle_r {
  display: block;
  background-color: red;
  background-position: center;
  border-radius: 50%;
  font-size: 40px;
}

.circle_y {
  display: block;
  background-color: gold;
  background-position: center;
  border-radius: 50%;
  font-size: 40px;
}

.circle {
  display: block;
  background-color: white;
  background-position: center;
  border-radius: 50%;
  font-size: 40px;
}
